progressbar.slim > trough, progressbar.slim > trough > progress {
  min-height: 4px;
}

.resources-columnview {
  background-color: @window_bg_color;
}

.bubble {
  background-color: alpha(currentColor, 0.08);
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
}
